@import '~bootstrap/scss/bootstrap.scss';


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.sectionWidth {
    width:75%;
    margin:auto;
}

header {
    background-color:#e9e7e9;

}



header a:hover {
    color:#4f3558;
    text-decoration: none;
}

nav {
    background-color:#328284;
    font-size: 1.25rem;
}

.jumbotron img {
    border: 2px solid #4f3558;
}

.jumbotron span {
    color:#328284;
}

.jumbotron .btn {
    background-color:#4f3558;
}

.jumbotron .btn:hover{
    background-color:#725d79;
}

h4, h5 {
    color:#328284;
}

#projects, #contact {
    background-color:#e9e7e9;
}

.projectFeaturedImage {
    border:1px solid #725d79;
}

.card-body {
    border:1px solid #909095;
}

.btnCard {
    color:#4f3558;
    border:1px solid #4f3558;
}

.btnCard:hover {
    color:white;
    border:1px solid #4f3558;
    background-color:#4f3558;
}


#contact .btn {
    color:#4f3558;
    border:1px solid #4f3558;
}

#contact .btn:hover {
    color:white;
    border:1px solid #4f3558;
    background-color:#4f3558;
}

footer {
    background-color:#328284;
    font-size: 1.25rem;
}